<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button fill="clear"  (click)="logout()">
        <ion-icon name="exit-outline" outline color="danger"></ion-icon>
       </ion-button>
    </ion-buttons>
    <ion-title>Tasks List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="items" class="list-mini-content" padding>
  <div *ngIf="items.length > 0" class="list-mini">
    <ion-card *ngFor="let item of items" [routerLink]="['/details', item.payload.doc.id]">
      <ion-card-header>
        <ion-card-subtitle>{{item.payload.doc.data().createdAt}}</ion-card-subtitle>
        <ion-card-title>{{item.payload.doc.data().title}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        {{item.payload.doc.data().description}}
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="items.length == 0" class="empty-list">
    Please create your first task.
  </div>
  <ion-fab vertical="bottom" horizontal="end" edge slot="fixed" ion-padding>
    <ion-fab-button (click)="addTask()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-footer class="ion-no-border" >
  <ion-toolbar color="medium">
    <ion-button fill="clear" >
     <!-- <ion-icon name="exit-outline" outline color="danger"></ion-icon> -->
    </ion-button>
  </ion-toolbar> 
</ion-footer>